.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #D1F8EF;
    background-color: #73C7C7;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
}

.button:hover {
    background-color: #d4af37;
    color: #D1F8EF;
}
